
<div class="text-xs-center" *ngIf="isLoading">
  <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
</div>

<app-toast [message]="toast.message"></app-toast>

<div class="container">

  <div class="">
    <h3 class="display-4 text-xs-center">
      Events
      <small class="text-muted">Upcoming</small>
    </h3>
    <div class="row">
      <div class="col-xs-3" *ngFor="let event of events">
        <div class="card">
          <div class="card-header bg-primary">
            <h1>{{event.title}}</h1>
          </div>
          <div class="card-block">
            <h5 class="card-text">Author <span class="text-muted">{{event.author.fullname}}</span></h5>
            <h5 class="card-text">Location <span class="text-muted">{{event.location}}</span></h5>
            <h5 class="card-text">Duration <span class="text-muted">{{event.duration}}</span></h5>
            <p class="card-text">Date <small class="text-muted">{{event.startdatetime}}</small></p>
            <a [routerLink]="['/event',event._id]" class="btn btn-xs btn-primary">
              Details
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <h3 class="display-4 text-xs-center">
      Events
      <small class="text-muted">Previous</small>
    </h3>
    <div class="row">
      <div class="col-xs-3" *ngFor="let event of events">
        <div class="card">
          <div class="card-header bg-primary">
            <h1>{{event.title}}</h1>
          </div>
          <div class="card-block">
            <h5 class="card-text">Author <span class="text-muted">{{event.author.fullname}}</span></h5>
            <h5 class="card-text">Location <span class="text-muted">{{event.location}}</span></h5>
            <h5 class="card-text">Duration <span class="text-muted">{{event.duration}}</span></h5>
            <p class="card-text">Date <small class="text-muted">{{event.startdatetime}}</small></p>
            <a [routerLink]="['/event',event._id]" class="btn btn-xs btn-primary">
              Details
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
