<div class="card" *ngIf="isLoading">
  <h4 class="card-header">Loading...</h4>
  <div class="card-block text-xs-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
</div>

<app-toast [message]="toast.message"></app-toast>

<div class="container">
  <div class="card" *ngIf="!isLoading">
    <h4 class="card-header">All events ({{events.length}})</h4>
    <div class="card-block">
      <table class="table table-bordered table-hover table-responsive">
        <thead class="thead-inverse">
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Duration(hours)</th>
          <th>Location</th>
          <th>Description</th>
          <th>Visibility</th>
          <th>Author</th>
          <th>Comments</th>
          <th class="actions" >Actions</th>
        </tr>
        </thead>
        <tbody *ngIf="events.length === 0">
        <tr>
          <td colspan="3">There are no events in the DB. Add a new event below.</td>
        </tr>
        </tbody>
        <tbody *ngIf="!isEditing">
        <tr *ngFor="let event of events; let i = index">
          <td>{{event.title}}</td>
          <td>{{event.startdatetime | date:'short'}}</td>
          <td>{{event.duration}}</td>
          <td>{{event.location}}</td>
          <td>{{event.description  | slice:0:20}}...</td>
          <td>{{event.visible}}</td>
          <td>{{event?.author?.fullname}}</td>
          <td><a [routerLink]="['/admin/comments',event._id]" class="btn btn-xs btn-primary">
            View</a></td>
          <td class="actions">
            <button class="btn btn-sm btn-warning" (click)="enableEditing(event)"><em class="fa fa-pencil"></em></button>
            <button class="btn btn-sm btn-danger" (click)="deleteEvent(event)"><em class="fa fa-trash"></em></button>
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="isEditing">
        <tr>
          <td colspan="7">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editEvent(event)" style="display:inline">
              <div class="form-group">
                <input class="form-control" type="text" name="title" [(ngModel)]="event.title" placeholder="Title" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="datetime-local" name="startdatetime" [(ngModel)]="event.startdatetime" placeholder="Date" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="number" name="duration" [(ngModel)]="event.duration" placeholder="Duration (days)" min="1" step="1" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" id="location" name="level" [(ngModel)]="event.location" placeholder="Location" required>
              </div>
              <div class="form-group" >
                <select name="visibility" [(ngModel)]="event.visible"  required>
                  <option [ngValue]=0>
                    Private
                  </option>
                  <option [ngValue]=1>
                    Public
                  </option>
                </select>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="description" [(ngModel)]="event.description" placeholder="Short Description" required></textarea>
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
              <!--<div class="col-sm-12" style="margin-top: 20px" *ngIf="form">-->
                <!--<div>Form details:-</div>-->
                <!--<pre>Is form valid?: <br>{{form.valid | json}}</pre>-->
                <!--<pre>Is form submitted?: <br>{{form.submitted | json}}</pre>-->
                <!--<pre>submitted value: <br>{{form.value | json}}</pre>-->
              <!--</div>-->
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card" *ngIf="!isLoading && !isEditing">
    <h4 class="card-header">Add new event</h4>
    <div class="card-block">
      <form class="form-inline" [formGroup]="addEventForm" (ngSubmit)="addEvent()" style="text-align:center">
        <div class="form-group">
          <input class="form-control" type="text" name="title" formControlName="title" placeholder="Title">
        </div>
        <div class="form-group">
          <input class="form-control" type="datetime-local" name="startdatetime" formControlName="startdatetime" placeholder="Date" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="number" name="duration" formControlName="duration" placeholder="Duration (hours)" min="1" step="1" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="location" formControlName="location" placeholder="Location">
        </div>
        <div class="form-group">
          <select class="form-control" id="visible" name="visible" formControlName="visible"  required>
            <option [ngValue]=0>
              Private
            </option>
            <option [ngValue]=1>
              Public
            </option>
          </select>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="description" formControlName="description" placeholder="Short Description" required></textarea>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!addEventForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
        <!--<div class="col-sm-12" style="margin-top: 20px" *ngIf="addEventForm">-->
        <!--<div>Form details:-</div>-->
        <!--<pre>Is form valid?: <br>{{addEventForm.valid | json}}</pre>-->
        <!--<pre>Is form submitted?: <br>{{addEventForm.submitted | json}}</pre>-->
        <!--<pre>submitted value: <br>{{addEventForm.value | json}}</pre>-->
        <!--</div>-->
      </form>
    </div>
  </div>
</div>


